#Log files, screenshots, savestates, saves, roms
*.log
*.png
*.z**
!*.zip
*.bst
*.srm
*.sav
*.sfc
*.smc
Atlas/src/
ROM
abcde
cpan
docs
eg
#C default stuff considering the normal patch uses C
# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
#*.out
#Commenting since the graphics decompressor outputs this sometimes and it beats no extension
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
# Random nonsense
*.bak
abcde.pl
